.user-top{
  display: flex;
  
  flex-direction: column;
}

.user-search{
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  height: 25mm;
  box-shadow: 0 4px 4px -2px rgba(41, 37, 233, 0.2);
}
.user-input{
  width: 400px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #000000;
}

.username{
  display: flex;
  padding-right: 600px;
}

.user-button{
  width: 90px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}


.user-search h1{
  width: 70%;
  padding-left: 20px;
  padding-top: 10px;
}
.user-details{
  padding-top: 70px;
  
}

.user-upper{
  display: flex;
  flex-direction: row;
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;

}
.user-info{
      /* padding-right: 150px; */
        width: 350px;
        text-align: center;
        height: 350px;
        /* display: flex; */
        flex-direction: column;
        /* padding-left: 45px; */
        justify-content: center;
  
}

.user-img{
  border-radius: 50%;
  max-width: 100%;
  height: 226.02px;
  
}

.user-info a{
  padding: 10px;
}

.user-profile{
  padding-right: 700px;
  padding-left: 50px;
}

.user-content{
  
  margin: 0 auto;
  padding: 0 2rem;
}

.user-name{
  width: max-content;
  padding-top: 35px;
}
p:last-child {
  margin-bottom: 0;
  width: max-content;
}
.dp{
  padding-bottom: 40px;
}

.user-rep{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 2016px;
}
.repo{
  padding-left: 40px;
}

.pagination {
  margin-left: 45%;
  padding-top: 40px;
}

.content{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 150px;
  flex-direction: row;
  position: relative;
  width: 600px;
  justify-content: center;
}

.item{
  width: 600px;
  height: 150;
  border-radius: 10px;
  padding-bottom: 20px;
}

a{
  color: #fff;
  font-weight: bold;
}

.header{
  padding: 20px;
  font-size: x-large;
  width: 600px;
  text-align: center;
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px 2px rgba(60, 127, 228, 0.25);
}