.user-top{
  display: flex;
  padding: 57px 27px;
}

.user-search{
  width: 50%;
  position: relative;
  display: flex;
  padding-left: 25px;
}
.user-input{
  width: 80%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #000000;
}

.user-button{
  width: 90px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}